body {
  overflow-x: hidden;
}

.Main_caratula_container {
  width: 100vw;
  height: 85vh;
  background-color: rgb(16, 107, 163);
  display: flex;
  justify-content: center;
  align-items: top;
}

.caratula_img {
  width: 100%;
  height: fit-content;
}

.caratula_img_container {
  height: 90%;
  max-height: 50px;
}

.caratula_main_img {
  height: 100%;
}