/* Contenedor general */
.Main_infoproducts_container {
  width: 100vw;
  height: 100vh;
  padding: 30px 00px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fefffef3;
  /* border: 5px solid #c60000; */
  position: relative;
  overflow: visible;
}

.title_section_infoproducts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
}

.mySwiper{
  /* border: 5px solid #1eff00; */
  height: 70%;
  width: 95%;
}

.swiper-horizontal>
.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
  position: absolute;
  bottom: 0 !important;
}

/* :root {
    --swiper-theme-color: #f20000 !important;
} */

/* .swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  border: 1px solid #000;
} */

.swiper-slide {
  padding: 20px 20px;
  height: 95% !important;
}

.swiper-slide:hover {
  border-radius: 20px;
  background-color: #afafaf51;
  /* padding: 0px 0px; */
}

.swiper-slide img {
  display: flex;
  width: 100%;
  height: 70%;
  object-fit: contain;
  /* object-fit: cover; */
}

.swiper-slide div {
  width: 100%;
  height: 30% !important;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn_store_section {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  background-color: rgba(254, 254, 254, 0);
  border-radius: 0px 80% 0px 0vw;
  background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn_store_section h1 {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 2rem;
  color: rgb(255, 254, 254);
}

.btn_store_section a {
  position: absolute;
  top: 60%;
  height: 15%;
  border-radius: 50px;
  background-color: #8D97BA;
  color: white !important;
  text-decoration: none;
  /* text-shadow: 4px 1px 1px rgb(7, 102, 180); */
  padding: 15px 30px;
  transition: 0.5s;
  font-size: 22px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_store_section a:hover {
  border: 2px solid #ffffff;
  text-shadow: 4px 1px 1px black;
}

.bottom_background {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(141,151,186,1) 5%, rgba(113,121,149,1) 8%, rgba(86,92,112,1) 16%, rgba(64,68,83,1) 25%, rgba(6,6,6,1) 84%);
}