.Main_introduccion_container {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  border: 1px solid #000;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: bottom;
}

/* .cover_img_intro {
  width: fit-content;
} */

.videoIntro {
  position: relative;
}

.videoTag {
  width: 100vw;
  margin-bottom: 1rem;
}

.infoCompany {
  position: absolute;
  top: 15%;
  right: 7%;
  display: flex;
  flex-direction: column;
  width: 25vw;
  text-align: justify;
  color: white;
  /* background-color: rgba(250, 235, 215, 0.445); */
  /* padding: 2%; */
  /* box-shadow: 3px 3px 5px gray, -3px -3px 5px gray; */
  /* border-radius: 15px; */
}

/* .infoCompany h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
} */

.infoCompany p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.titleCompanyintro {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  position: absolute;
  Top: 29%;
  left: 15%;
  display: flex;
  flex-direction: column;
  width: 35vw;
  color: white;
  text-shadow: aqua 0px 0px 10px;
}

.logo_main_img {
  position: absolute;
  top: 12%;
  left: 5%;
 height: 15%;
  /* width: 10%; */
}

.titleCompanyintro span {
  margin: 5% 0 0 30%;
}

.disOne,
.disTwo {
  border: none;
  /* background-color: transparent; */
  background-color: rgba(240, 248, 255, 0.185);
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding: 0.5rem 2rem;
}

.containerBtnDmr {
  position: absolute;
  top: 52%;
  left: 27.5%;
  display: flex;
  width: 30vw;
  justify-content: space-between;
  gap: 2vw;
}

/* .disOne {
  position: absolute;
  top: 52%;
  left: 25%;
}

.disTwo {
  position: absolute;
  top: 52%;
  left: 47%;
} */

.disOne:hover,
.disTwo:hover {
  background-color: rgba(240, 248, 255, 0.385);
  border: 2px solid rgb(240, 248, 2);
  cursor: pointer;
}

.dissapearone,
.dissapeartwo {
  display: none;
};

/* .dissapeartwo {
  display: none;
}; */

