body {
  width: 100vw;
  overflow-x: hidden;
}

/* Mobil Version */
@media screen and (max-width: 767px) {
  .mobil_navbar {
    display: none;
  }

  .desktop_navbar {
    display: none;
  }

  .container_nabbar_mobil {
    position: relative;
    z-index: 99999;
  }

  .Main_container {
    position: fixed;
    /* width: 100vw;
    height: 100vh; */
  }

  /* Hamburguer button */
  .Main_container .size_menuCrelosa_btn {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 6vw;
    min-width: 30px;
    height: 6vw;
    min-height: 30px;
  }

  .NavBarCrelosa_MainContainer {
    /* border: 1px solid red; */
    background-color: rgb(251, 7, 7);
    height: 100%;
    width: 100%;
    transition: transform 1s ease-out;
  }

  /* Difuminado del fondo */
  /* .flur_background {
    border: 10px solid #000;
    background: rgb(255, 255, 255);
    filter: blur(40);
    width: 700px;
    height: 200px;
    position: absolute; 
    top: 20px;
    left: 20px;
    z-index: -1;
  } */

  /* Div de los botones */
  .buttons_links_container {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .flur_background {
   display: none;
  }

  .mobil_navbar {
    display: none;
  }

  .desktop_navbar {
    display: none;
  }

  body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
  }

  .Main_container {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 12vh;
    z-index: 9999;

    /* border: 10px solid #cf0e0e; */
  }

  /* .caratula_logo_container {
    height: 90%;
    max-height: 50px;
  } */

  /* .logo_main_img {
    height: 100%;
  } */

  .top_line {
    width: 100vw;
    height: 100px;
    background-color: var(--First-main-bg-color);
  }

  .NavBarCrelosa_MainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.508);
    padding: 0 5% 0 5%;
    overflow-x: hidden;
  }

  .buttons_links_container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
  }

  .buttons_links_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1vw;
    color: white;
    transition: 0.5s;
  }

  .buttons_links_container a:hover {
    padding: 5px 10px;
    border-bottom: 3px solid #edeff3;
    border-bottom-right-radius: 15px;
    text-shadow: rgb(11, 98, 239) 1px 0 20px;
    color: rgb(185, 210, 251);
  }

  .size_menuCrelosa_btn {
    display: none;
  }
}
