body {
  width: 100%;
  overflow-x: hidden;
}

.Main_container {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.caratula_logo_container {
  height: 90%;
  max-height: 50px;
}

.logo_main_img {
  height: 100%;
}

.top_line {
  width: 100vw;
  height: 20px;
  background-color: var(--First-main-bg-color);
}

.NavBarCrelosa_MainContainer {
  width: 100vw;
  height: 100vh;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: var(--bg-color); */
  background: black;
  padding: 0 5% 0 5%;
  overflow-x: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.156);
}

.buttons_links_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons_links_container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: medium;
}

.buttons_links_container a:hover {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;;
}


.size_menuCrelosa_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 99;
  /* border: 1px solid #000; */
}

.desktop_navbar {
  display: none;
}

.mobil_navbar {
  display: none;
}

/* desktop version */
@media screen and (min-width: 768px) {
  .mobil_navbar {
    display: none;
  }

  .desktop_navbar {
    display: none;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }
  
  .Main_container {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 12vh;
    z-index: 9999;
  }
  
  .caratula_logo_container {
    height: 90%;
    max-height: 50px;
  }
  
  .logo_main_img {
    height: 100%;
  }
  
  .top_line {
    width: 100vw;
    height: 20px;
    background-color: var(--First-main-bg-color);
  }
  
  .NavBarCrelosa_MainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* position: absolute; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    padding: 0 5% 0 5%;
    overflow-x: hidden;
  }
  
  .buttons_links_container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .buttons_links_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
  }
  
  .buttons_links_container a:hover {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;;
  }
  
  .size_menuCrelosa_btn {
    display: none;
  }
}