

.Main_container {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100vw;
  z-index: 99;
}

.caratula_logo_container {
  height: 90%;
  max-height: 50px;
}

.logo_main_img {
  height: 100%;
}

.top_line {
  width: 100vw;
  height: 20px;
  background-color: var(--First-main-bg-color);
}

.NavBarCrelosa_MainContainer {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background: var(--bg-color);
  padding: 0 5% 0 5%;
  overflow-x: hidden;
}

.buttons_links_container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.buttons_links_container button {
  width: 20%;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000;
}

.buttons_links_container a {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
}
