/* .Main_piedepagina_container {
  width: 99vw;
  background-color: var(--bg-piedepagina-section);
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.crelosaGeneral {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 35vh;
  /* margin-inline: 5vw; */
  background-color: rgba(164, 169, 169, 0.362);
  align-items: center;
  /* padding: 20px 15px; */
}

.general_footer {
  display: flex;
  justify-content: space-between;
  width: 92vw;
  margin-inline: 4vw;
  flex-wrap: wrap;
  /* height: 100%; */
  /* margin: 0 5vw; */
  /* padding: 0 5vw; */
  /* border: 3px solid red; */
}

.crelosaGeneral h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.iconoEspacio {
  margin-right: 7px;
}

.contactodirecciones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.sNetworks {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.instagram {
  background: -webkit-linear-gradient(40deg, #e9f837 0%, #f70540 32%, #fd19ea 80%);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crelosaMail {
  display: flex;
  align-items: center;
  /* font-size: 1.5rem; */
  color: #000;
}

.crelosaMail a {
  color: #000;
  text-decoration: none;
}

.invisibleCre {
  display: none;
}

.terminos a {
  position: relative;
  padding: 10px 20px;
}

.social {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.social img {
  width: 15vw;
  align-self: center;
}

/* a::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0;
  background: blue;
  transition: height 0.3s;
} */

.terminos a:hover::after {
  height: 5px;
  transition: height 0.3s;
}

.terminos a + a::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 5px;
  background: blue;
  transition: width 0.3s;
}

.terminos a + a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.terminos a {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
}