
.Main_quienessomos_container {
  height: 90vh;
}

.backgroundmv {
  width: 100vw;
  height: 35vh;
  
}

.vismissom {
  display: flex;
  width: 90vw;
  margin-inline: 5vw;
  justify-content: flex-start;
}

.vismissom p {
  text-align: justify;
}

.vismissom h1 {
  font-size: 3.5rem;
  color: #000;
  margin-bottom: 4rem;
}

.mision,
.vision {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  height: 45vh;
  /* gap: 1rem; */
  width: 100%;
}

.vision p {
  margin-left: 7%;
}

.mision p {
  margin-right: 7%;
}

.mision  {
 border-right: 3px solid #bf6a0ea7;
}