:root {
  /* Logo colors */
  --First-main-bg-color: #222593; 
  --Snd-main-bg-color: #DDDA2D;

  /* NavBar colors */
  --bg-color: #ffffffe7;

  /* Caratula */
  --bg-main-caratua: rgb(16, 107, 163);

  /* Info product */
  --bg-infoproducs-section: black;

  /* Quienes Somos? */
  --bg-quienessomos-section: green;

  /* Asociados */
  --bg-asociados-section: purple;

  /* Footer */
  --bg-piedepagina-section: rgb(7, 177, 168);

}