@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Sans&display=swap');

/* Typography */
$font-family-base: 'PT Sans', sans-serif;

$primary: #1e1a52;
$secondary: #E0DD2C;
$light-gray: #EAE9E9;
