/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */

.Mens_Working_here {
  /* border: 1px solid #000; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Mens_Working_here h1 {
  /* border: 1px solid #000; */
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  font-weight: 700;
}

.Mens_Working_here img {
  /* border: 1px solid #000; */
  width: 100vw;
}
